<a href="https://colab.research.google.com/github/pranav20-2004/SQL_Dective_Challenge/blob/main/WEB_SCRAPPING.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Import necessary libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd
# Initialize an empty list to store book information
books = []

# Loop through pages 1 to 4
for i in range(1,5):
  url = f"https://books.toscrape.com/catalogue/page-{i}.html"
  response = requests.get(url)
  response = response.content
  soup = BeautifulSoup(response, 'html.parser')
  # Find the 'ol' (ordered list) element containing book information
  ol = soup.find('ol')
  # Find all 'article' elements with the class 'product_pod'
  articles = ol.find_all('article', class_='product_pod')
   # Loop through each book 'article' element
  for article in articles:
    # Find the 'img' element to extract the book title from its 'alt' attribute
    image = article.find('img')
    title = image.attrs['alt']
    # Find the 'p' (paragraph) element to extract the star rating from its 'class' attribute
    starTag = article.find('p')
    star = starTag['class'][1]
    # Find the 'p' element with the class 'price_color' to extract the book price
    price = article.find('p', class_='price_color').text
    # price = float(price[1:])
    # Append the book information to the 'books' list
    books.append([title, star, price, url])

# Create a DataFrame using pandas
df = pd.DataFrame(books, columns=['Title', 'Star Rating', 'Price', 'Link'])
# Write the DataFrame to a CSV file named 'books.csv'
df.to_csv('books.csv')

In [2]:
print(df)

                                                Title Star Rating   Price  \
0                                A Light in the Attic       Three  £51.77
1                                  Tipping the Velvet         One  £53.74
2                                          Soumission         One  £50.10
3                                       Sharp Objects        Four  £47.82
4               Sapiens: A Brief History of Humankind        Five  £54.23
..                                                ...         ...     ...
75                                           Security         Two  £39.25
76      Saga, Volume 6 (Saga (Collected Editions) #6)       Three  £25.02
77      Saga, Volume 5 (Saga (Collected Editions) #5)         Two  £51.04
78  Reskilling America: Learning to Labor in the T...         Two  £19.83
79  Rat Queens, Vol. 3: Demons (Rat Queens (Collec...       Three  £50.40

                                                Link
0   https://books.toscrape.com/catalogue/page-1.html
1   https://books.toscrape.com/catalogue/page-1.html
2   https://books.toscrape.com/catalogue/page-1.html
3   https://books.toscrape.com/catalogue/page-1.html
4   https://books.toscrape.com/catalogue/page-1.html
..                                               ...
75  https://books.toscrape.com/catalogue/page-4.html
76  https://books.toscrape.com/catalogue/page-4.html
77  https://books.toscrape.com/catalogue/page-4.html
78  https://books.toscrape.com/catalogue/page-4.html
79  https://books.toscrape.com/catalogue/page-4.html

[80 rows x 4 columns]